.searchbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  .searchInput {
    flex: 1;
    display: flex;
    gap: 12px 8px;
    padding: 8px;
    align-items: center;
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 8px;

    #search {
      flex: 1;
      background-color: transparent;
      color: #fff;
      outline: none;
      border: none;
      /* padding: 8px; */
      font-size: 16px;
    }
  }

  img {
    width: 16px;
    cursor: pointer;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
  padding: 12px 0;

  img {
    width: 50px;
    border-radius: 50%;
  }

  .texts {
    span {
      display: block;
      font-weight: 600;
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
