* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url('bg2.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 94vw;
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 16px 0;
  display: flex;
}
